doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		script(src="/js/upload.js") 
		title Document
	body
		video(src='http://localhost:4000/api/video'	controls width='60%')
		include upload.pug